
.thanhtieude {
  background-color: #0f30ada1;
  border-color: #383e4c;
  top: 0px;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1030;
}

.tieudelist {
  text-align: center;
  display: inline-block;
    float: none;
    padding-left: 0px;
    list-style: outside none none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  display: inline;
}

.linknav {
  padding: 8px;
  background-color: #dddddd;
}

li a:hover {
  background-color: blue;
}

.list-album-item  {
      width: 195px;
    min-height: 263px;
    margin-right: 20px;

}

ul.list_video {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  }
ul.list_video li {
  display:inline-block;
  position: relative;
}